@import '@ppzp/stylus'

.dialog .modal-content
  background: n-text()
  min-width: 26rem // 既然是 最小 当然要看起来小一点
  border-radius: 1rem
  overflow: hidden

.dialog-header
  font-weight: 600
  padding: 1rem 1.4rem .9rem
  border-bottom: textBorder()
.dialog-footer
  padding: 1 1.4rem
  text-align: right
  .btn
    margin: 0 .3rem
    