@import '@ppzp/stylus'

.dialog .modal-content
  background: n-text()
  min-width: 26rem // 既然是 最小 当然要看起来小一点
  border-radius: 1rem
  overflow: hidden
  shadow()

.dialog-header
  font-weight: 600
  padding: 1.2rem 1.6rem 1rem
  border-bottom: textBorder()
.dialog-footer
  padding: 1rem 1.6rem 1.2rem
  text-align: right
  .btn
    margin: 0 .5rem
    