@import '@ppzp/stylus'

@keyframes ppz-modal-show
  0%
    opacity: 0
  100%
    opacity: 100%

.modal
  fixed(0, 0, 0, 0)
  background: text(.16)
  align-items: center
  justify-content: center
  animation: ppz-modal-show .3s
  font-size: 1rem
