@import '../reuse.styl'

@keyframes ppz-modal-show
  0%
    opacity: 0
  100%
    opacity: 100%

+prefix-classes('ppz-')
  .modal
    fixed(0, 0, 0, 0)
    background: black(.1)
    align-items: center
    justify-content: center
    animation: ppz-modal-show .3s
    .content
      min-width: 1em
      min-height: 1em
