@import '@ppzp/stylus'

@keyframes ppz-modal-show
  0%
    opacity: 0
  100%
    opacity: 100%

.modal
  fixed(0, 0, 0, 0)
  background: text(a: .16)
  animation: ppz-modal-show .3s
  font-size: 1rem
  align-items: flex-start
  &.center
    align-items: center
    justify-content: center
