@import '@ppzp/stylus'

html, body
  padding: 0
  margin: 0
html
  font-family: auto
body
  max-width: 1000px
  min-height: 100vh
  margin: 0 auto
  shadow()

.block
  .title
    background: primary()
    color: #fff
    line-height: 2.5
    padding: .2em 1.4em 0
  .content
    padding: 2rem 2rem 4rem

.btns
  .btn
    margin-right: 1rem

.basic-body
  padding: 1em 1.4em
